html{
    scroll-behavior:SMOOth;
    font-family: Arial;
}
body{
    background-color: white;
    margin: 0;
}

header{
    width: 100%;
    height: 88px;
    background-color: black;
    position: fixed;
}

#cabeçalho{
    background-color: rgb(100, 100, 100);
    font-family: Arial;
	font-size: 5px;
    text-align: right;
    padding-right: 100px;
    padding-top: 0.2px;
    padding-bottom: 3px;
	height: 15.5px;
}

#cabeçalho a{
	text-decoration: none;
	color: white;
}

#logo{
    width: 100px;
    height: auto;
    padding-top: 8px;
    padding-left: 60px;
}

.links a{
    list-style:none;
    display:inline;
    
    font-family: fonte;
    text-decoration: none;
    text-decoration-style: none;
    color: white;
    font-size: 24px;
}

#slideshow1{
    height: 480px;
	width: 800px;
	border-radius: 8px;
}

.image{
	border-radius: 8px;
	
}

.image:hover{
	size: 50px;
	transition: 2s;
}

* {box-sizing:border-box}


.slideshow1-container {
  max-width: 800px;
  margin: auto;
  height: 480px;
  width: 800px;
  border: 5px;
}


.mySlides {
  display: none;
}


.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 15%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.0s;
  animation-name: fade;
  animation-duration: 1.0s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.colecoes{
    background-color: white;
}

.nomes{
    font-family: arial;
    padding-left: 100px;
    font-size: 50px;
    font-family: fonte;
}

.titulo{
    font-family: arial;
    font-size: 50px;
    font-family: fonte;
}

.rodape{
    background-color: black;
    height: 105px;
}

@font-face {

    font-family: "fonte";
    src: url("HeadlinerNo.45 DEMO.ttf") format("truetype");

    }

.links a:hover{
    background-color: rgb (100, 100, 100);
    display: block;
    transition: 1s;
	text-decoration: underline;
}

.links a:target{
    transition: 2s;
}

p{
	font-family: Arial;
	font-size:30px;
	text-align:center;
	text-decoration:none;
    color:black;
    padding: 5px;
}

h1{
	margin-bottom:20px;
	margin-left:20px;
	color:Black;
	text-shadow:2px 2px 2px grey;
}

input, textarea{
	width:200px;
	padding:10px;
	color:black;
	margin-left:20px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border:1px solid;
}

input:hover, textarea:hover, input:focus, textarea:focus{
	border-color:grey;
	
	color: black;
	font-weight:bold;
}

.subimt input{
	background-color:#66FFFF;
	height:40px;
	width:100px;
	font-weight:bold;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border:1px solid;
	color:black;
}
.forms{
	font-size: 20px;
}

#8000{
    padding: 2px
}

.footer{
    color: white;
    padding-left: 80px;
}
